.ig_NautilusControl
{
	background-color:White;
	font-size:xx-small;
	font-family: verdana;
	cursor:default;
	color:Black;
}


.ig_NautilusItem
{
	background-color:White;
	font-size:10px;
	font-family: verdana;
	padding-left:1px;
}


.ig_NautilusButton
{
	cursor:hand;
}


.ig_NautilusButtonHover
{
}


.ig_NautilusButtonPressed
{
}


.ig_NautilusButtonDisabled
{
}


.ig_NautilusHover
{
}


.ig_NautilusSelected
{
}


.ig_NautilusDisabled
{
}


.ig_NautilusHeader
{
}


.ig_NautilusFooter
{
}


.ig_NautilusEditWithButtons
{
}


.ig_NautilusEdit
{
}


.ig_NautilusEditInContainer
{
}


.ig_NautilusAlt
{
	border-top:solid 1px #E3EFFF;
	border-right:solid 0px #FFFFFF;
	border-bottom:solid 1px #E3EFFF;
	border-left:solid 0px #FFFFFF;
}


.ig_NautilusDropDown
{
}


.ig_NautilusEditSelected
{
}


Body
{
	cursor:default;
}


