<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
			<deny users="?" />
			<allow roles="Administrador" />
			<allow roles="Consultas" />
			<allow roles="Documentos" />
			<allow roles="Reportes" />
			<allow roles="WorkFlow" />
        </authorization>
    </system.web>
</configuration>